* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
/* :root 
--bg color: 222327;
--tc color: #fff;
--main color: #29fd53;
*/

body{
  font-family: 'Poppins','Miniver', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #111;
}

header{
  position: fixed;
  top: 0;
  right: 0;
  height: 50px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  margin: 0;
  transition: all .5s ease;
}

.bars {
  display: flex;
  height: 50px;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
}

.bars .logo{
  margin-left: 50px;
  display: flex;
  align-items: center;
  align-content: center;
  text-shadow: 2px 2px 3px #000;
  border: none;
  width: 100%;
}

.bars .logo span{
  display: flex;
  justify-content: center;
  align-items: center;
} 
.bars .logo span img {
  display: flex;
  width: 180px;
  height: 40px;
  filter: drop-shadow(2px 2px 2px black);
}
.bars .logo span:hover{
  color: #FF0000;
}

.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}


.bars .links-container a{
  height: 80%;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  text-align: center;
  color: crimson;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  gap: 10px;
  border-radius: 5px;
  transition: all .5s ease;
}
.bars .links-container li .home-list{
  display: none;
}
.bars .links-container a:hover{
  color: #fff;
  background-color: crimson;
  transition: all .5s ease;
  box-shadow: inset -5px -5px 5px rgba(0,0,0,.6);
}

.bars .links-container a.active{
  color: #fff;
  background-color: crimson;
  transition: all .5s ease;
  box-shadow: inset -5px -5px 5px rgba(0,0,0,.6);
}

.bars .links-container a span .s-up{
  width: 150px;
}

header .fa-bars, .fa-x {
  color: crimson;
  scale: 1.25;
}

#sidebar-active {
  display: none;
}
.open-sidebar-button, .close-sidebar-button{
  display: none;
  width: 50px;
  height: 50px;
}

.home-list{
  position: relative;
  display: inline-block;
  margin-left: 10px;
  right: 0;
  top: 0;
}
.summary-sections{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
  color: #000;
  width: 50px;
  height: 50px;
}

.summary-sections .fa-ellipsis-vertical{
  scale: 1.25;
  color: crimson;
}

.home-list ul{
  position: absolute;
  right: 0;
  list-style: none;
  width: max-content;
  background-color: #fff;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
}

.home-list ul li{
  width: 100%;
  display: flex;
  justify-content: center;
  color: #000;
}

.home-list ul li a{
  padding: 5px 10px;
  color: #000;
  width: 100%;
}
.home-list ul li a:hover{
  background-color: crimson;
  color: #fff;
}




@media (max-width: 800px){
  header{
    position: fixed;
    top: 0;
    right: 0;
    height: 50px;
    background-color: transparent;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    margin: 0;
    transition: all .5s ease;
  }
  .links-container{
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    z-index: 10;
    height: 100vh;
    background-color: #450000;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    gap: 0;
  } 
  .bars .links-container a{
    box-sizing: border-box;
    color: #fff;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
    background-color: transparent;
  }
  
  .bars .links-container a span{
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .bars .links-container li .home-list{
    display: block;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    right: 0;
    top: 0;
  }
  
  .bars .links-container a:hover{
    background-color: crimson;
    width: 100%;
    color: #fff;
    box-shadow: inset -5px -5px 10px rgba(0,0,0,.6);
  }
  .bars .links-container a.active{
    color: #fff;
    background-color: crimson;
    transition: all .5s ease;
    box-shadow: inset -5px -5px 5px rgba(0,0,0,.6);
  }
  .bars .links-container li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .bars .links-container li a{
    box-sizing: border-box;
    color: #fff;
    height: auto;
    width: 80%;
    padding: 20px 30px;
    justify-content: flex-start;
    background-color: transparent;
  }
  
.bars .links-container li .home-list .summary-sections{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: none;
  color: #000;
  width: 50px;
  height: 50px;
}
  
.bars .links-container li .home-list ul{
  position: absolute;
  right: 0;
  list-style: none;
  width: max-content;
  background-color: #450000;
  border-radius: 3px;
  z-index: 100;
  cursor: pointer;
  box-shadow: -10px 10px 10px;
}

.bars .links-container li .home-list ul li{
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: none;
}

.bars .links-container li .home-list ul li a{
  padding: 5px 10px;
  color: #fff;
  width: 100%;
  font-size: 1rem;
  border-radius: 0;
}
.bars .links-container li .home-list ul li a:hover{
  background-color: crimson;
  color: #fff;
  box-shadow: inset -2px -2px 2px rgba(0,0,0,.6);
  border-radius: none;
}
.bars .links-container li .home-list ul li a.first:hover{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
  
.bars .links-container li .home-list ul li a.last:hover{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
  
.bars .links-container a span{
  margin-left: 15px;
}
  
  .open-sidebar-button{
    display: flex;
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .close-sidebar-button{
    display: flex;
    margin-left: 80%;
    padding: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  #sidebar-active:checked ~ .links-container{
    left: 0;
  }
  #sidebar-active:checked ~ #overlay {
    background-color: #000000B8;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    transition: 0.75s ease-in-out;
  }
  
  .bars{
    justify-content: space-between;
    margin: 0;
  }
  header {
    margin: 0;
    padding: 0;
  }
  .bars .logo{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}

/* footer style */

.footer{
  display: flex;
  background-color: #000;
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
}
.footer p{
  color: #fff;
}
.footer h4{
  color: crimson;
  padding: 0 5px 0 5px;
}


